/* style for index.html */
body{
  font-family: Lucidatypewriter, monospace;
  background-color: #e2eafc;
}

input[type="file"]{
  margin-top: 5px;
  padding: 5px 12px;
  background-color: inherit;
  border-radius: 12px;
  font-family: Lucidatypewriter, monospace;
}

input[type="submit"]{
  margin-top: 5px;
  padding: 5px 12px;
  background-color: inherit;
  border-radius: 12px;
  font-family: Lucidatypewriter, monospace;
}

#container{
  background-color: #e2eafc;
  width:30vw;
  height: auto;
  position: fixed;
  left: 35%;
  top: 20%;
  text-align: center;
  border: solid 5px;
  border-radius: 12px;
  padding: 10px;
}

#Footjournal_header h1{
  font-family: Georgia, serif;
  font-size: 40px;
  color: #455E89;
}

#login label{
  width: 15vw;
  display:inline-block
}

#login input{
  width: 15vw;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid black;
  background-color: inherit;
}

#login button{
  margin: 20px;
  padding: 10px 24px;
  background-color: inherit;
  border-radius: 12px;
  font-family: Lucidatypewriter, monospace;
  display: inline-block;
}

#login button:hover{
  background-color: #71A5DE;
  color: white;
}

#login #error_message{
  color: red;
}

/* style for home.html */

#Footjournal_home{
  font-family: Georgia, serif;
  font-size: 25px;
  color: #455E89;
  width:100vw;
  height:20vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
}

#Footjournal_home h1{
  margin: 10px;
}

#Footjournal_home button{
  margin: 10px;
  padding: 10px 24px;
  background-color: inherit;
  border-radius: 12px;
  font-family: Lucidatypewriter, monospace;
}

#Footjournal_home button:hover{
  background-color: #71A5DE;
  color: white;
}

#weather{
  height: 80vh;
  width: 20vw;
  overflow-y: scroll;
  position: fixed;
  left:0;
  bottom:0;
  background-color: #71A5DE;
}

#content{
  height: 80vh;
  width:60vw;
  position: fixed;
  bottom:0;
  left:20%;
  background-color: #AECBEB;
  text-align: center;
  overflow-y: scroll;
}



.text_post{
  width:80%;
  height: auto;
  text-align: left;
  display: inline-block;
  padding: 20px;
  margin: 10px;
}

.content_post{
  font-size: 2vw;
}

.pfp_post{
  height: 30px;
  width: auto;
  border-radius: 50%;
}

.username_post{
  display: inline;
  font-size: 20px;
  font-weight: bold;
}

.text_post h2{
  border-bottom: solid 1px black;
}

.button_post{
  margin-top: 5px;
  padding: 5px 12px;
  background-color: inherit;
  border-radius: 12px;
  font-family: Lucidatypewriter, monospace;
}

.button_post:hover{
  background-color: #E1ECF7;
}

.text_post input{
  width: 50%;
  background-color: #e2eafc;
  border: none;
  font-size: 15px;
}

.text_comment{
  margin-top: 15px;
  margin-left: 40px;
}

.text_comment h3{
  display: inline;
}

.content_comment{
  display: inline;
}


#suggest{
  height: 80vh;
  width: 20vw;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #71A5DE;
  text-align: center;
  overflow-y: scroll;
}

.post_suggest{
  width: 80%;
  height: auto;
  display: inline-block;
  border: solid 1px black;
  padding: 3px;
  margin: 10px;
}

.post_suggest img{
  height: 30px;
  width: auto;
  border-radius: 50%;
}

.post_suggest .username_suggest{
  display: inline;
  font-size: 18px;
  font-weight: bold;
}

.post_suggest .follow_suggest{
  margin-top: 5px;
  padding: 5px 12px;
  background-color: inherit;
  border-radius: 12px;
  font-family: Lucidatypewriter, monospace;
}
.post_suggest .follow_suggest:hover{
  background-color: #E1ECF7;
}

/* style for post */

#post_container{
  background-color: #AECBEB;
  width:30vw;
  height: auto;
  position: fixed;
  left: 35%;
  top: 20%;
  text-align: left;
  border: solid 2px;
  border-radius: 12px;
  padding: 10px;
  display: inline-block;
}

#post_container #post_content{
  background-color: #e2eafc;
  max-width: 100vw;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px #999;
  resize: vertical;
}

/* styling for account page*/
#account_info{
  width: 25vw;
  height: 80vh;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #71A5DE;

}

#account_info div{
  margin: 10px;
}

#account_pfp{
  height: 200px;
  width: auto;
  border-radius: 25%;
  margin: 10px;

}

#account_username{
  font-size: 30px;
  font-weight: bold;
}

#account_followers{
  font-size: 25px;
}

#account_following{
  font-size: 25px;
}

#account_posts{
  background-color: #AECBEB;
  width: 75vw;
  height: 80vh;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
}

/* styling for help page */
#help_header{
  background-color: #71A5DE;
  display: block;
  text-align: center;
  height: 10vh;
  width: 100vw;
  border: solid 1px black;
  position: fixed;
  top: 20vh;
  left: 0;
  font-size: 50px;
  font-weight: bold;
}

#help_content{
  background-color: #AECBEB;
  display: block;
  text-align: left;
  height: 70vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 30px;
}

#help_content h1{
  margin-left: 30px;
}

#help_content p{
  display: block;
  width: 75vw;
}

/* styling for messages*/
#message_general{
  height: 60vh;
  width: 50vw;
  position: fixed;
  bottom: 20vh;
  left:0;
  background-color: #AECBEB;
  border: solid black 1px;
  text-align: center;
  overflow-y: scroll;
}

#message_other{
  height: 60vh;
  width: 50vw;
  position: fixed;
  bottom:20vh;
  right:0;
  background-color: #AECBEB;
  border: solid black 1px;
  text-align: center;
  overflow-y: scroll;
}

.message_creation{
  width: 50vw;
  height: 20vh;
  background-color: #71A5DE;
}

.message_creation button{
  margin: 20px;
  padding: 10px 24px;
  background-color: inherit;
  border-radius: 12px;
  font-family: Lucidatypewriter, monospace;
  display: inline-block;
}

.message_creation button:hover{
  background-color: #AECBEB;
}

.message_creation input{
  width: 50%;
  margin: 20px;
  background-color: #AECBEB;
}

#general_creation{
  position: fixed;
  left: 0;
  bottom: 0;
}

#other_creation{
  position: fixed;
  left: 50%;
  bottom: 0;
}

.message_post{
  width: 75%;
  height: auto;
  display: inline-block;
  text-align: left;
}


.message_post h3{
  margin: 0;
}
